.container-grid { 
    width: 90%;
    margin-top: 2%;
    padding-top: 10px;
    margin-left: 5%;
    box-shadow: gray 0px 5px 10px;
    height: 85vh;
} 

.col-form-label {
    margin-top: 2%;
}

.container-filter {
    height: 10vh;
    width: auto;
    box-shadow: lightgray 2px 2px 10px;
}

.div-data {
    height: 100%;    
    width: 80%;    
    display: inline-flex;    
    left: 0;
}

.container {
    margin-top: 2%;    
    padding-top: 10px;
    box-shadow: gray 0px 5px 10px;
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width:8px;
    height: 10px;
}
 

.container::-webkit-scrollbar-track {
    background:whitesmoke;
    border-radius: 5px;
    height: 20%;
}
     
.container::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px; 
}


.row-grid {
    width: 90%;
    margin-left: 5%;
}

.cab {    
    margin-left: 10px;
    height:5vh;
    border: none 0;
    border-bottom: solid 1px #343A40;    
    border-radius: 4px;
    text-align: left;    
}

.row {
    margin-top: 15px;
    margin-left: 15px;
    width: 95%;
    margin-left: 5%;
    border-bottom: solid 0.5px lightgray;
}

.btn-dark {
    float: right;    
    margin: 5.5vh 5px 5px 5px ;
    width: 15%;
}

.timeline {
    margin-top: 5px; 
    height: 60vh;
    overflow: auto;
}


.timeline::-webkit-scrollbar {
    width:8px;
    height: 10px;
}
 

.timeline::-webkit-scrollbar-track {
    background:whitesmoke;
    border-radius: 5px;
    height: 20%;
}
     
.timeline::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px; 
}

.tag-reserva {
    width: 100%;
    padding: 5px;
    display: grid; 
    margin-top: 10px; 
    border-radius: 5px;
    box-shadow: gray 5px 5px 5px;
    background-color: brown;
    transition: 0.5s;
}

.tag-reserva:hover {
    padding: 10px;
}

.tag-horarios {
    position: relative;
    display: grid;
    color: lightgrey;
}

.lbl-titulo-reserva {    
    position: relative;
    font-size: medium;
    background-color: transparent;
    font-weight: bold;
    color: lightgrey;
}

.lbl-reserva {
    position: relative;
    font-size: small;
    margin-top: 0;
}

.row img {   
    display: flex;    
    float: right;
    margin-left: 5%;
}

.row img:hover {   
    background-color: lightgray;
}

.sub-nav {
    margin-top: 1%;
    background-color: gray;
}

.sub-navitem a {  
    color: white;
}

/**-- ALERT --**/
.alert {        
    position: fixed;        
    width:    30vw;    
    margin:   0 auto;    
    border-radius: 5px;    
    background-color: transparent;
    margin-top: 5%;
    z-index: 1;
}

.alert div {    
    position: absolute;    
    opacity: 0.5;
    width: 15px;
    right: -5px;
    top: -7px;
    text-align: center;      
    line-height: 15px;
    margin-top: 5px;
    background: rgb(61, 61, 61);    
    border-radius: 50%;
    font-size: 12px;
    color: white ;
    animation: ease-in;    
}

/* MODAL ALERT */
.modal-alert {
    height: 10%;
    width: 40%;
    background-color: brown;
    right: -30%;
}