/*-- LOGIN --*/
body {
    display: flex;
    justify-content: center;        
    background-image: url('/assets/loginfundo.jpg');   
    height: 98vh;        
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: #222A37;
    opacity: 0.7;
    z-index: -1;
    display: flex;
}

/*-- CONTAINER LOGIN --*/
.container-login {
    position: fixed;        
    transition-duration: 0.5s;    
    background-color: lightgray;
    box-shadow: 5px 5px 5px 3px #222A37;
    display: flexbox; 
    justify-content: center;
    align-items: center;
    margin-top: 25vh;    
    padding-top: 10vh;
    width: 30vw;
    height: 30vh;        
    opacity: 0.7;    
    border-radius: 5px;      
}

.container-login div {
    position: relative ;      
    width: 50%;
    left: 50%;
    margin-left: -25%;
}

.container-login input {
    position: relative;    
    color: white;
    background-color:rgb(77, 77, 77);
    border-radius: 5px;        
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 15vw;
    margin-top: 1vh;    
    font-family: 'Raleway', sans-serif;
    
}
.container-login input::placeholder {
    color: white;
}

.container-login button  { 
    color: lightgray;
    border: 0.5px solid;
    background-color: #074B66;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 3vh;
    width: 15vw;
    margin-top: 2vh;
    font-family: 'Raleway', sans-serif;
    
}

.container-login link { 
    color: #981F39;
    position: relative;
    display: inline-block;
    background-color: transparent;    
    text-align: center;
    font-size: 15px;
    text-decoration: underline;    
    width: 100%;    
    margin-top: 2vh;
    font-family: 'Raleway', sans-serif;
    
}

/**-- ALERT --**/
.alert {        
    position: fixed;        
    width:    30vw;    
    margin:   0 auto;    
    border-radius: 5px;
    opacity: 0.7;
    background-color: transparent;
    margin-top: 5%;
}

.alert h6 {
    color: white; 
    font-size: 11px;
    text-align: center;
    background-color: transparent;    
    font-family: 'Raleway', sans-serif;
}

.alert div {    
    position: absolute;    
    opacity: 0.5;
    width: 15px;
    right: -5px;
    top: -7px;
    text-align: center;    
    line-height: 15px;
    margin-top: 5px;
    background: rgb(61, 61, 61);    
    border-radius: 50%;
    font-size: 12px;
    color: white ;
    animation: ease-in;    
}

/* Loading */ 
@keyframes wait {
    to {
      background-color: gray;
    }
}